body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	-moz-osx-font-smoothing: grayscale;

	--main-color: #676778;
	--main-color-light: #838399;
	--main-color-dark: #565664;
	--secondary-color: #ff3e00;
	--secondary-color-light: #ff794d;
	--secondary-color-dark: #c53100;
}

